<% include ../_partials/header %>
  <% include ../_partials/messages %>

  <article class="partner">
    <header>
      <h1><%= partner.name %></h1>
      <h2><a href="mailto:<%= partner.email %>"><%= partner.email %></h2>
      <p><a href="/partner/<%= partner._id %>/edit">edit</a></p>
    </header>
    <details>
      <summary>Notes</summary>
      <section id="notes">
        <% if (partner.notes.length) { %>
          <%- include('../note/note', { note: partner.notes[0] }) %>
        <% } %>
        <a href="/note">More notes...</a>
        <form id="new-note-form" role="form" action="/note" method="post">
          <div class="form-group">
            <label for="notes">New note:</label>
            <textarea rows="2" name="text"></textarea>
          </div>
          <input type="submit" value="Take note">
        </form>
      </section>
    </details>
    <details>
      <summary>Prayers</summary>
      <section id="prayers">
        <% if (partner.prayers.length) { %>
          <%- include('../prayer/prayer', { prayer: partner.prayers[0] }) %>
        <% } %>
        <a href="/partner/<%= partner._id %>/prayer">More prayers...</a>
        <form id="new-prayer-form" role="form" action="/partner/<%= partner._id %>/prayer" method="post">
          <div class="form-group">
            <label for="prayer">New prayer:</label>
            <textarea rows="2" name="text"></textarea>
          </div>
          <input type="submit" value="Add">
        </form>
      </section>
    </details>
    <details>
      <summary>Thank Yous</summary>
      <section id="thank-yous">
        <% if (partner.thankYous.length) { %>
          <%- include('../thankYou/thankYou', { thankYou: partner.thankYous[0] }) %>
        <% } %>
        <a href="/thankYou">More thank yous...</a>
        <form id="new-thank-you-form" role="form" action="/thankYou" method="post">
          <div class="form-group">
            <label for="mode">Mode of thank you:</label>
            <select class="form-control" name="mode">
              <% for (const mode of modesOfThanks) { %>
                <option value="<%= mode %>"><%= mode %></option>
              <% } %>
            </select>
          </div>
          <input type="submit" value="Add">
        </form>
      </section>
    </details>
    <details>
      <summary>Donations</summary>
      <section id="donations">
        <% if (partner.donations.length) { %>
          <%- include('../donation/donation', { donation: partner.donations[0] }) %>
        <% } %>
        <a href="/donation">More donations...</a>
        <form id="new-donation-form" role="form" action="/donation" method="post">
          <div class="form-group">
            <label for="donation">New donation:</label>
            <textarea rows="2" name="text"></textarea>
          </div>
          <input type="submit" value="Add">
        </form>
      </section>
    </details>
  </article>

<% include ../_partials/footer %>
