<% include ../_partials/header %>
  <% include ../_partials/messages %>

  <article class="partner">
    <header>
      <h1><%= partner.name %></a></h1>
      <h2><a href="mailto:<%= partner.email %>"><%= partner.email %></h2>
    </header>
    <details>
      <summary>Notes</summary>
      <section id="notes">
        <% if (partner.notes.length) { %>
          <%- include('../note/note', { note: partner.notes[0] }) %>
        <% } %>
        <a href="/note">More notes...</a>
        <form id="new-note-form" role="form" action="/note" method="post">
          <div class="form-group">
            <label for="notes">New note:</label>
            <textarea rows="2" name="text"></textarea>
          </div>
          <input type="submit" value="Take note">
        </form>
      </section>
    </details>
    <details>
      <summary>Prayers</summary>
      <section id="prayers">
        <% if (partner.prayers.length) { %>
          <%- include('../prayer/prayer', { prayer: partner.prayers[0] }) %>
        <% } %>
        <a href="/prayer">More prayers...</a>
        <form id="new-prayer-form" role="form" action="/prayer" method="post">
          <div class="form-group">
            <label for="prayer">New prayer:</label>
            <textarea rows="2" name="text"></textarea>
          </div>
          <input type="submit" value="New prayer">
        </form>
      </section>
    </details>
    <details>
      <summary id="thank-yous">Thank Yous</summary>
      <section>
        Put thank yous in here
      </section>
    </details>
    <details>
      <summary id="donations">Donations</summary>
      <section>
        Put donations in here
      </section>
    </details>
  </article>

<% include ../_partials/footer %>
